__pycache__/\n*.pyc\n.env
assignments/
presentation-demo_files/
presentation_files/
demo_files/
grades/
demo/
jupyter_env/
*.pdf
*.docx
*.tex
demo.*
presentation-demo.*
./'Python Code -- Functions.ipynb'
.ipynb_checkpoints
*.sh
run.py
log_files/
hpc/
README_files/
README.html
