__pycache__/\n*.pyc\n.env
fem/
assignments/
presentation-demo_files/
presentation_files/
demo_files/
demo/
jupyter_env/
*.pdf
*.docx
*.tex
demo.*
presentation-demo.*
./'Python Code -- Functions.ipynb'