__pycache__/\n*.pyc\n.env
assignments/
presentation-demo_files/
presentation_files/
demo_files/
grades/
demo/
jupyter_env/
*.pdf
*.docx
*.tex
demo.*
presentation-demo.*
./'Python Code -- Functions.ipynb'
.ipynb_checkpoints
lecture_notes/10_cupy.py
lecture_notes/11_torch.py