.reveal {
    font-size: 28px;
    /* font-family: Georgia, 'Times New Roman', Times, serif */
    /* Adjust as needed */
}

.reveal pre {
    font-size: 1.8rem !important;
}

.reveal code {
    font-size: 0.7em !important;
}